<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PdfConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PdfConverter.Properties.Settings>
            <setting name="ThemeMode" serializeAs="String">
                <value>System</value>
            </setting>
            <setting name="WordToPdfBackend" serializeAs="String">
                <value>MicrosoftWord</value>
            </setting>
            <setting name="LibreOfficePath" serializeAs="String">
                <value></value>
            </setting>
            <setting name="WordToPdfPdfFormat" serializeAs="String">
                <value>Standard</value>
            </setting>
            <setting name="WordToPdfOptimizeFor" serializeAs="String">
                <value>Print</value>
            </setting>
            <setting name="WordToPdfExportBookmarks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WordToPdfExportComments" serializeAs="String">
                <value>False</value>
            </setting>
        </PdfConverter.Properties.Settings>
    </userSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="lib" />
            <dependentAssembly>
                <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.4.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-10.0.0.8" newVersion="10.0.0.8" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>